server {
    listen 80;
    listen [::]:80;
    server_name chee.baby;
    return 301 https://chee.party$request_uri;
}
server {
    include /www/chee.party/share/nginx/ssl.nginx;
    server_name chee.baby;
    return 301 https://chee.party$request_uri;
}
server {
    listen 80;
    listen [::]:80;
    server_name chee.news;
    return 301 https://chee.party$request_uri;
}
server {
    include /www/chee.party/share/nginx/ssl.nginx;
    server_name chee.news;
    return 301 https://chee.party$request_uri;
}
server {
    listen 80;
    listen [::]:80;
    server_name chee.club;
    return 301 https://chee.party$request_uri;
}
server {
    include /www/chee.party/share/nginx/ssl.nginx;
    server_name chee.club;
    return 301 https://chee.party$request_uri;
}
server {
    include /www/chee.party/share/nginx/ssl.nginx;
    server_name chee.snoot.club;
    return 301 https://chee.party$request_uri;
}
server {
    listen 80;
    listen [::]:80;
    server_name chee.snoot.club;
    return 301 https://chee.party$request_uri;
}

