# generated 2022-08-05, Mozilla Guideline v5.6, nginx 1.21.6, OpenSSL 1.1.1q, modern configuration
# https://ssl-config.mozilla.org/#server=nginx&version=1.21.6&config=modern&openssl=1.1.1q&guideline=5.6

# TODO replace with chee.party specific cert
ssl_certificate /etc/letsencrypt/live/chee.party/fullchain.pem;
ssl_trusted_certificate /etc/letsencrypt/live/chee.party/fullchain.pem;
ssl_certificate_key /etc/letsencrypt/live/chee.party/privkey.pem;

ssl_session_timeout 1d;
ssl_session_cache shared:MozSSL:10m;  # about 40,000 sessions
ssl_session_tickets off;
ssl_protocols TLSv1.3;
ssl_prefer_server_ciphers off;
#add_header Strict-Transport-Security "max-age=63072000" always;
# OCSP stapling
ssl_stapling on;
ssl_stapling_verify on;
resolver 162.159.27.72;

