proxy_cache snoot;
#proxy_cache_lock on;
proxy_cache_background_update on;
proxy_cache_revalidate on;
proxy_cache_valid 200 60s;
proxy_buffering on;
proxy_cache_use_stale
	timeout
	invalid_header
	updating
	http_500
	http_502
	http_503
	http_504;
