include /www/chee.party/share/nginx/cert.nginx;
listen 443 ssl;
listen [::]:443 ssl;
# brotli on;
http2 on;
# http3 on;
# http3_hq on;
# quic_retry on;
ssl_early_data on;
# add_header Alt-Svc 'h3=":$server_port"; ma=86400' always;
